<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/modificarHabitosStyle.css">
</head>
<body>
    <%- include('partial/_header') %>  <!-- Incluir el header -->
    
    <main>
        <h1>Modificar Hábito</h1>

        <!-- Listbox para seleccionar los hábitos -->
        <label for="habit-listbox">Seleccione un hábito para modificar:</label>
        <select id="habit-listbox">
            <option value="" disabled selected>Seleccione un hábito</option>
            <% habitos.forEach(habito => { %>
                <option value="<%= habito.HABITO_ID %>,<%= habito.HABITO_IDT %>">
                    <%= habito.HABITO_NOM %>
                </option>
            <% }) %>
        </select>
        
        <!-- Elementos que se habilitarán dinámicamente -->
        <div id="dynamic-elements">
            <input type="text" id="nuevo-nombre" style="display: none;" placeholder="Nuevo nombre del hábito">
            <input type="number" id="cantidad" style="display: none;" placeholder="Nueva cantidad de repeticiones del hábito">
            
            <select id="tipolim" style="display: none;">
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="<="><=</option>
                <option value="<"><</option>
                <option value=">=">>=</option>
                <option value=">">></option>
                <option value="=">=</option>
            </select>
        </div>

        <!-- Botones que siempre estarán visibles, alineados de la misma forma que en Registrar Hábito -->
        <div id="action-buttons" class="button-group">
            <button id="accept-button" class="btn-confirm">Aceptar</button>
            <button onclick='history.back()' class='btn-back'>Volver</button>
        </div>
    </main>

    <%- include('partial/_footer') %>  <!-- Incluir el footer -->

    <!-- Incluir el archivo JavaScript -->
    <script src="/js/modificarHabitos.js"></script>
</body>
</html>