<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/modificarReglasStyle.css">
    
    <!-- Incluir CSS de Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partial/_header') %>  <!-- Incluir el header -->
    
    <main>
        <h1>Modificar Regla de Productividad</h1>
        
        <!-- Formulario para modificar una regla -->
        <form id="modify-rule-form">
            <label for="rule-listbox">Seleccione una regla para modificar:</label>
            <select id="rule-listbox" name="rule-listbox">
                <option value="" disabled selected>Seleccione una regla</option>
                <% reglas.forEach(regla => { %>
                    <option value="<%= regla.REGLA_ID %>"><%=regla.REGLA_NOM%></option>
                <% }) %>
            </select>

                <label for="nuevo-nombre">Nombre de la regla:</label>
                <input type="text" id="nuevo-nombre" name="ruleName" style="display: block;" placeholder="Nombre de la regla...">

                <label for="tipo-regla">Tipo de regla:</label>
                <select id="tipo-regla" name="ruleType" style="display: block;">
                    <option value="" disabled selected>Seleccione tipo de la regla</option>
                    <option value="OB">Obligatoria</option>
                    <option value="OP">Opcional</option>
                </select>

                <label for="estado-regla">Estado de la regla:</label>
                <select id="estado-regla" name="ruleState" style="display: block;">
                    <option value="" disabled selected>Seleccione estado de la regla</option>
                    <option value="A">Activa</option>
                    <option value="I">Inactiva</option>
                </select>
            
            <div style="display: none;" id="dynamic-elements">
            <label for="habit-list">Seleccionar hábitos:</label>
            <select id="habit-list" name="habitList[]" multiple="multiple" required>
                <!-- Aquí irán las opciones de hábitos -->
                <% habitos.forEach(habito => { %>
                    <option value="<%= habito.HABITO_ID %>"><%= habito.HABITO_NOM %></option>
                <% }) %>
            </select>
            </div>

            <button type="submit" class="btn-confirm">Aceptar</button>
            <button type="button" class="btn-back" onclick="window.location.href='/gestor-habitos';">Volver</button>
        </form>
    </main>


    <script src="/js/modificarReglas.js"></script>
    <!-- Incluir jQuery y Select2 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#habit-list').select2({
                tags: true,
                placeholder: "Selecciona uno o más hábitos",
                allowClear: true
            });
        });
    </script>

</body>
</html>
